:root {
    --gap: 0.75rem;
    --background: #FFD7C7;
    --goose: #FE4902;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    overflow-x: hidden;
}

#root {
    background-color: #FEFDFC;
    width: 100vw;
}

/* button from Airbnb */

button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 10px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.86);
}

button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

button.start-now {
    background-color: #FE4902;
    color: white;
    border-color: #FE4902;
}

/* nav */

nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;

    padding: 0.5em 1em;
    width: 100%;

    font-size: 1rem;

    background-color: #FEFDFC;
}

nav div {
    display: flex;
    gap: 0.5em;
    font-size: 16px;
    align-items: center
}

nav .left h1 {
    font-size: 16px;
    font-weight: 700;
}

nav .left img {
    height: 2rem;
}

nav span.by {
    font-weight: 300;
}

nav .right {
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    nav span.by {
        display: none;
    }
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* articles */

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    position: relative;
    padding: 4rem;
    padding-top: 5rem;
    border-top: solid 0.75em rgb(255, 230, 230);

    word-break: keep-all;
}

article h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

article .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 50%;
}

article img {
    width: min(35vw, 100%);
}

article img.second {
    width: 30vw;
}

@media screen and (max-width: 950px) {
    article {
        justify-content: center;

        padding: 2rem;
    }

    article .left {
        max-width: unset;

        align-items: center;
    }

    article .texts {
        text-align: center;
    }

    article h2 {
        font-size: 2rem;
    }

    article p {
        font-size: 1rem;
    }

    article img {
        width: 80%;
    }

    article .right {
        width: 50%;
    }
}

/* article 1 */

.first {
    background-color: var(--background);
    color: var(--goose);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    height: 50rem;

    border: none;
}

.first button {
    margin-top: 50px;
}

.first h2 {
    font-size: 50px;
}

.first button {
    font-size: 1.25rem;
}

/* special arrangement */
img.buddies {
    width: 80%;
}

/* last */

.last {
    background: linear-gradient(180deg, rgba(252, 245, 238, 0) 0%, #FCF5EE 10%);
    padding: 1em;
    padding-top: 5em;
}

.last article {
    display: block;

    border-top: none;
    text-align: center;
    padding-top: 10rem;
}

.last article p {
    margin-top: 2rem;
    color: grey;
    font-size: 1rem;
}

footer {
    border-top: solid 0.1rem black;
    margin: 10rem 1rem 0 1rem;
    padding: 1rem 0;
}

footer p {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

footer h3 {
    font-weight: 300;
}

footer h3 span {
    font-weight: 700;
}

/* sign in */
