ignore-workspace-root-check=true
auto-install-peers=true
# https://github.com/vite-pwa/vite-plugin-pwa/issues/89#issuecomment-1887014319
# this fixes that rollup can't find workbox-window during pnpm build
public-hoist-pattern[]=workbox-window
