Django==4.2.7
django-cors-headers==4.3.1
Faker==24.0.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.14.0
psycopg-binary==3.1.18
psycopg==3.1.18
gunicorn==21.2.0
beautifulsoup4==4.12.3
requests==2.31.0
lxml==5.1.0