Django==4.2.18
django-cors-headers==4.3.1
Faker==24.0.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.15.2
psycopg-binary==3.2.5
psycopg==3.2.5
gunicorn==22.0.0
beautifulsoup4==4.12.3
requests==2.32.2
lxml==5.3.1
rsa==4.9
cryptography==44.0.1
boto3==1.37.1
django-storages==1.14.2
botocore==1.37.1
s3transfer==0.11.2
pillow==11.1.0 # required by models.ImageField 
django-redis==5.4.0
pywebpush==2.0.0
django-rest-knox==4.2.0
marko==2.1.2
