Django==4.2.23
django-cors-headers==4.7.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.16.0
psycopg-binary==3.2.9
psycopg==3.2.9
gunicorn==23.0.0
boto3==1.39.3
django-storages==1.14.6
pillow==11.3.0 # required by models.ImageField 
django-redis==5.4.0
pywebpush==2.0.0
django-rest-knox==5.0.2
marko==2.1.4
